<li>
    {{burger_name}}
	<button class="change-status" data-id="{{id}}" data-newdev="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Done{{/if}}
	</button>
	<button class="delete-button" data-id="{{id}}">Delete Item</button>
</li>

